img.ui.image {
  z-index: auto;
}
.ui.container.landing-page {
  margin: 100px auto;
  width: 50%;
  text-align: center;
}

.ui.segment.filterable-cards-list {
  margin: 100px auto;
  width: 500px;
}

.ui.icon.input {
  width: 100%;
}

div .ui.card {
  margin: auto;
}

.ui.form {
  margin:150px auto;
  width: 50%;
}

.ui.fluid.button {
  margin-top: 20px;
}

.ui.segments {
  margin:150px auto;
  width: 75%;
}


